<!DOCTYPE html>
<html>
<head>
	<title>Chitter 2.0</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
  	<link rel="stylesheet" type="text/css" href="/css/application.css">
</head>
<body>
	<header>
    <section id="logo">
        <a href="/">Chitter 2.0</a>
    </section>
    <section id="user-buttons">
    </section>
</header>
	<% if flash[:notice] %>
	  <div class="flash notice">
	    <%= flash[:notice] %>
	  </div>
	<% end %>
	<% if flash[:errors] && !flash[:errors].empty? %> 
	  <ul id="errors">
	    <% flash[:errors].each do |error| %>
	      <li class="flash error"><%= error %></li>
	    <% end %>
	  </ul>
	<% end %>
	<main id="container">
	<section id="user_sign_in">
		<p><input type="text" name="email" placeholder="Email"/></p>
		<p><input type="text" name="username" placeholder="Username" /></p>
		<p><input type="text" name="name" placeholder="Name"/></p>
		<p><input type="password" name="password"placeholder="password" /></p>
		<p><input type="password" name="password_confirmation" placeholder="password again!"/></p>
		<p><input type="submit" value="Sign up" class="button"/></p>
	</section>
	<section  id="user-peeps">
		<%if @peeps && @peeps.count > 0 %>
			<h3>What's going on...</h3>
			<ul >
				<% @peeps.each do |peep| %>
					<li class="peep">
						<p class="message"><%= peep.message %></p>
						<%@user = User.get(peep.user_id)%>
						<p class="author">created by:<%=@user.name%> ( <%=@user.username%> )  </p>
						<div class="button_reply">
							<%if current_user && @user.id != current_user.id%>
								<form action="peep/new" method="get">
									<input type="hidden" name ="peep_id" value="<%=peep.id%>"/>
									<p><input type="submit" value="Reply" class="button"/></p>
								</form>
							<%end%>
							<p class="date">at:<%= peep.created_at.strftime("%d/%m/%Y %H:%M")%></p>
						</div>
						<%@replies = Reply.all(:target_id => peep.id, :order => [:answer_id.desc])%>
						<%	if @replies.count > 0 %>
							<ul id="replies">
								<% @replies.each do |reply| %>
									<li class="reply">
										<% @awnser = Peep.get(reply.answer_id)%>
										<p class="message"><%= @awnser.message %></p>
										<%@user = User.get(@awnser.user_id)%>
										<p class="author">created by:<%=@user.name%> ( <%=@user.username%> )  </p>
										<p class="date">at:<%= @awnser.created_at.strftime("%d/%m/%Y %H:%M")%></p>
									</li>
								<% end %>
							</ul>
						<%end%>
					</li>
				<% end %>
			</ul>
		<%end%>
		</section>
  </main>
  <tempate id="template_signed_in">
		<span id="welcome-message">
        Welcome, {{.name }}  
    </span>
    <a href='#' id='new_peep' class='button'>New peep</a>
    <a href='#' id='sign_out' class='button'>Sign out</a>
	</tempate>
	<template id="template_signed_out">
		<a href='#' id='sign-up' class='button'>Sign up</a>  
    <a href='#' id='sign-in' class='button'>Sign in</a>  
	</template>
	<script src="/js/jquery-2.1.1.min.js"></script>
	<script src="/js/handlebars.js"></script>
	<script src="/js/chitter.js"></script>
</body>
</html>