<li class="peep">
	<p class="message"><%= peep.message %></p>
	<%@user = User.get(peep.user_id)%>
	<p class="author">created by:<%=@user.name%> ( <%=@user.username%> )  </p>
	<%if current_user && @user.id != current_user.id%>
		<form action="peep/new" method="get">
			<input type="hidden" name ="peep_id" value="<%=peep.id%>"/>
			<p><input type="submit" value="Reply" class="button"/></p>
		</form>
	<%end%>
	<p class="date">at:<%= peep.created_at.strftime("%d/%m/%Y %H:%M")%></p>
	<%	if peep.replies.count > 0 %>
		<ul>
			
		</ul>
	<%end%>
</li>